<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OtoAuto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Offers/Index">OtoAuto</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Offers/Index">Oferty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Offers/Create">Wystaw samochód</a>
                        </li>
                    </ul>
                    @if (this.User.IsInRole(Consts.AdminRoleName))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Dictionaries/Dictionaries">Słownik</a>
                            </li>
                        </ul>
                    }

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-5">
                            <li class="nav-item">
                                <span>Witaj, @this.User.Identity.Name</span>
                            </li>                                  
                            <li class="nav-item">
                                <a style="margin-left:10px" href="/SignIn?handler=logout">Wyloguj się</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-5">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Account/SignIn">Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Account/Register">Zarejestruj się</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
